
.Gambar{
    position: absolute;
    left: 500px;
}
.myclasses{
    position: absolute;
    width: 323px;
    height: 483px;
    top: 160px;
    left: 370px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 72px;
    color: #000080;
}

.webdev{
    position: absolute;
    width: 200px;
    height: 60px;
    top: 520px;
    left: 435px;
    text-align: center;
    border-radius: 20px;
    background: #000080;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 60px;
}

.wd{
    text-decoration: none;
    color: #fff;
}

.start1{
    position: absolute;
    width: 200px;
    height: 60px;
    top: 520px;
    left: 435px;
    text-align: center;
    border-radius: 20px;
    background: #31900F;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 60px;
}

.st{
    text-decoration: none;
    color: #fff;
}

.start2{
    position: absolute;
    width: 200px;
    height: 60px;
    top: 520px;
    left: 435px;
    text-align: center;
    border-radius: 20px;
    background: #31900F;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 60px;
}

.sta{
    text-decoration: none;
    color: #fff;
}


.uiux{
    position: absolute;
    width: 200px;
    height: 60px;
    top: 520px;
    left: 435px;
    text-align: center;
    border-radius: 20px;
    background: #000080;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 60px;
}

.ui{
    text-decoration: none;
    color: #fff;
}

img{
    position: absolute;
    width: 323px;
    height: 483px;
    left: 420px;
    top: 140px
}